---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import Hero from "@/components/Sections/Hero.astro";
import About from "@/components/Sections/About.astro";
import Experience from "@/components/Sections/Experience.astro";
import Education from "@/components/Sections/Education.astro";
import Projects from "@/components/Sections/Projects.astro";
import Skills from "@/components/Sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import {getLangFromUrl, useTranslations} from '@/i18n/utils.ts'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
let basics = t('basics')

const {name, label} = basics
---

<Layout title=`Portafolio de ${name} - ${label}`>
  <main>
    <Hero />
    <About title={t("sobreMiTitle")} />
    <Skills title={t("habilidadesTitle")}/>
    <Experience title={t("experienciaTitle")} />
    <Projects title={t("proyectosTitle")} />
    <Education title={t("educacionTitle")}/>
    <KeyboardManager />
  </main>
</Layout>

<style>

  main{
    padding: 3rem;
	  margin: auto;
  }
</style>
