---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "@/components/Sections/Hero.astro";
import About from "@/components/Sections/About.astro";
import Experience from "@/components/Sections/Experience.astro";
import Education from "@/components/Sections/Education.astro";
import Projects from "@/components/Sections/Projects.astro";
import Skills from "@/components/Sections/Skills.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
</Layout>

<style>

  main{
	padding: 4rem;
	margin: auto;
  }
</style>
